@{
    Layout = "~/Views/Shared/Layout.pc.cshtml";

    var packageInfo = ViewBag.packageInfo as mp.Models.PackageInfo;
    ViewBag.Title = packageInfo.Title + "@" + packageInfo.User.Name + "收集_喵帕斯";
    ViewBag.Keywords = packageInfo.Title;
    ViewBag.Description = packageInfo.Description;
}

<div class="mp-container">
    <div class="panel panel-default mp-panel mp-piece">
        <div class="panel-body clearfix">
            <div class="pull-left">
                <h3 class="title package-title">@packageInfo.Title</h3>
                <div class="description package-description">@Html.MpDescription(packageInfo.Description)</div>
            </div>
            <div class="actions pull-right">
                @if (Security.IsLogin)
                {
                    if (packageInfo.UserID != Security.User.ID)
                    {
                        if (packageInfo.IsFollowing)
                        {
                            <div class="btn btn-default btn-sm package-cancel-follow-btn" data-id="@packageInfo.ID">取消关注</div>
                        }
                        else
                        {
                            <div class="btn btn-primary btn-sm package-follow-btn" data-id="@packageInfo.ID">关注</div>
                        }
                    }
                    else
                    {
                        <div class="btn btn-primary btn-sm package-edit-btn" data-id="@packageInfo.ID">编辑</div>
                    }
                }
                else
                {
                    <div class="btn btn-primary btn-sm">关注</div>
                }
            </div>
        </div>
        <div class="panel-footer clearfix">
            <a class="user" href="@packageInfo.User.HomePage">
                <img class="avt-sm" src="@packageInfo.User.Head" />
                <span class="name">@packageInfo.User.Name</span>
            </a>
            <div class="pull-right clearfix">
                <div class="item border-left">@packageInfo.ImageCount 图片</div>
                <div class="item border-left">@packageInfo.FollowerCount 关注</div>
            </div>
        </div>
    </div>

    <div class="waterfall-236" data-url="/package/@packageInfo.ID/images/">
        @if (Security.IsLogin && Security.User.ID == packageInfo.UserID)
        {
            <div class="waterfall-item fw236 add">
                <div class="border">
                    <div class="img">
                        <img src="/images/plus.png" />
                    </div>
                    <div class="text">
                        点击添加图片
                    </div>
                </div>
                <input type="file" class="upload-btn" multiple accept="image/jpeg,image/png,image/bmp" data-id="@packageInfo.ID" />
            </div>
        }

        @Html.Action("Images", new { max = 0, packageId = packageInfo.ID })
    </div>

</div>
