@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/dashboardMaster.cshtml";
    ViewBag.SubPage = "采集";
}

<style>
    .toolbar-item {
        float: left;
        margin-right: 8px;
    }
</style>

<h2 class="page-header">采集管理</h2>
<div style="margin:10px auto;" class="clearfix">
    <form action="/pick">
        <div class="toolbar-item">
            <input name="filter" type="hidden" value="@ViewBag.Filter" />
            <span>筛选：</span>
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default" data-value="wait">待处理</button>
                <button type="button" class="btn btn-default" data-value="skip">已跳过</button>
                <button type="button" class="btn btn-default" data-value="pick">采集中</button>
                <button type="button" class="btn btn-default" data-value="all">全部</button>
            </div>
        </div>
        <div class="toolbar-item">
            <div class="btn btn-primary btn-sm add-btn" id="add-btn">新增</div>
        </div>
        <div class="toolbar-item">
            <div class="input-group input-group-sm">
                <input type="text" name="keyword" class="form-control" value="@ViewBag.Keyword" placeholder="搜索...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </form>
</div>

<table class="table table-table-striped">
    <tr>
        <th>P站用户ID</th>
        <th>P站用户名</th>
        <th>排名分</th>
        <th>图包ID</th>
        <th>图包标题</th>
        <th>最后采集时间</th>
        <th>操作</th>
    </tr>
    @foreach (mp.DAL.AdminPixivUser item in ViewBag.List)
    {
        <tr>
            <td><a target="_blank" href="http://www.pixiv.net/member_illust.php?id=@item.UserID">@item.UserID</a></td>
            <td>@item.UserName</td>
            <td>@item.RankCount</td>
            <td>@item.PackageID</td>
            <td>@(item.Package==null?"":item.Package.Title)</td>
            <td>@item.LastPickTime.ToString("yyyy-MM-dd HH:mm")</td>
            <td>
                <div class="btn btn-xs btn-primary edit-btn" data-id="@item.ID">
                    编辑
                </div>
                <a href="/pick/delete/@item.ID" class="btn btn-xs btn-danger confirm">
                    删除
                </a>
            </td>
        </tr>
    }
</table>

<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编辑采集</h4>
            </div>
            <div class="bg-warning text-warning" style="display:none;text-align:center;line-height:2.4;"></div>
            <div class="content"></div>
        </div>
    </div>
</div>

@section script{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.toolbar-item input[type="hidden"]').each(function () {
                var input = $(this);
                var val = input.val();

                var toolbarItem = input.parents('.toolbar-item');
                var btn = toolbarItem.find('.btn-group .btn[data-value="' + val + '"]');
                btn.removeClass('btn-default');
                btn.addClass('btn-primary');
            });

            $(document).on('click', '.toolbar-item .btn-group .btn-default', function () {
                var btn = $(this);
                var val = btn.data('value');

                var toolbarItem = btn.parents('.toolbar-item');
                var input = toolbarItem.find('input[type="hidden"]');

                input.val(val);

                var form = btn.parents('form').submit();
            });

            $('.edit-btn').click(function () {
                var t = $(this);
                var id = t.data('id');
                ShowModal('/pick/edit/' + id);
            })

            $('#add-btn').click(function () {
                ShowModal('/pick/add');
            });

            function ShowModal(url) {
                var modal = $('#modal');
                var content = modal.find('.content');
                var warning = modal.find('.bg-warning');

                content.hide();

                content.load(url, function () {
                    content.show();

                    var form = content.find('form');
                    form.submit(function () {
                        var action = form.attr('action');
                        var data = form.serialize();

                        $.post(action, data, function (result) {
                            if (result.Success == true) {
                                location.reload();
                            }
                            else {
                                warning.text(result.Message);
                                warning.show();
                            }
                        }, 'json');

                        return false;
                    });
                });

                modal.modal('show');

            }
        })
    </script>
}
