@{
    Layout = "~/Views/Shared/Layout.pc.cshtml";
    var subPage = (mp.Controllers.UserSubPages)ViewBag.SubPage;
    var userInfo = ViewBag.UserInfo as mp.Models.UserInfo;

    ViewBag.Title = userInfo.Name + "的主页_喵帕斯";
    ViewBag.Keywords = userInfo.Name + "收集的图片,图包";
    ViewBag.Description = userInfo.Description;
}

<div class="mp-container">
    <div class="panel panel-default mp-panel mp-piece">
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <img class="media-object avt" src="@userInfo.BigHead" />
                </div>
                <div class="media-body">
                    <div class="actions pull-right">
                        @if (Security.IsLogin)
                        {
                            if (userInfo.ID != Security.User.ID)
                            {
                                if (userInfo.IsFollowing)
                                {
                                    <div class="btn btn-primary btn-sm user-follow-btn" data-id="@userInfo.ID">关注</div>
                                }
                                else
                                {
                                    <div class="btn btn-default btn-sm user-cancel-follow-btn" data-id="@userInfo.ID">取消关注</div>
                                }
                            }
                        }
                        else
                        {
                            <div class="btn btn-primary btn-sm login-btn">关注</div>
                        }
                    </div>
                    <h3 class="media-heading">@userInfo.Name</h3>
                    <div class="description">@userInfo.Description</div>
                </div>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <a class="item border-right @(subPage== mp.Controllers.UserSubPages.Packages?"active":"")" href="/user/@userInfo.ID/packages">@userInfo.PackageCount 图包</a>
            <a class="item border-right @(subPage== mp.Controllers.UserSubPages.Images?"active":"")" href="/user/@userInfo.ID/images">@userInfo.ImageCount 图片</a>
            <a class="item border-right @(subPage== mp.Controllers.UserSubPages.Praises?"active":"")" href="/user/@userInfo.ID/praises">@userInfo.PraiseCount 赞</a>
            <a class="item border-right @(subPage== mp.Controllers.UserSubPages.Followers?"active":"")" href="/user/@userInfo.ID/followers">@userInfo.FollowerCount 粉丝</a>
            <a class="item border-right @(subPage == mp.Controllers.UserSubPages.FollowingPackages || subPage == mp.Controllers.UserSubPages.FollowingUsers ? "active" : "")" href="/user/@userInfo.ID/followingusers">@userInfo.FollowerCount 关注</a>
        </div>
    </div>

    @if (subPage == mp.Controllers.UserSubPages.FollowingPackages || subPage == mp.Controllers.UserSubPages.FollowingUsers)
    {
        <div class="btn-group btn-group-sm">
            <a href="/user/@userInfo.ID/followingusers" class="btn btn-default @(subPage== mp.Controllers.UserSubPages.FollowingUsers?"active":"")"><span class="glyphicon glyphicon-user"></span> 用户</a>
            <a href="/user/@userInfo.ID/followingpackages" class="btn btn-default @(subPage== mp.Controllers.UserSubPages.FollowingPackages?"active":"")"><span class="glyphicon glyphicon-th"></span> 图包</a>
        </div>
    }

    <div class="waterfall-236" data-url="/user/@userInfo.ID/@subPage.ToString().ToLower()/">
        @Html.Action("index", new { subPage = subPage, userId = userInfo.ID, max = int.MaxValue })
    </div>

</div>
