@model List<mp.DAL.AdminPixivTag>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/dashboardMaster.cshtml";
    ViewBag.SubPage = "标签";
}

<style>
    .toolbar-item {
        float: left;
        margin-right: 8px;
    }
</style>

<h2>标签编辑</h2>

<div style="margin:10px auto;" class="clearfix">
    <form action="/tag">
        <div class="toolbar-item">
            <input name="orderby" type="hidden" value="@ViewBag.OrderBy" />
            <span>排序：</span>
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default" data-value="weight">权重</button>
                <button type="button" class="btn btn-default" data-value="count">引用数</button>
                <button type="button" class="btn btn-default" data-value="id">ID</button>
            </div>
        </div>
        <div class="toolbar-item">
            <input name="filter" type="hidden" value="@ViewBag.Filter" />
            <span>筛选：</span>
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default" data-value="no-edit">未编辑</button>
                <button type="button" class="btn btn-default" data-value="skip">已跳过</button>
                <button type="button" class="btn btn-default" data-value="edited">已编辑</button>
                <button type="button" class="btn btn-default" data-value="all">全部</button>
            </div>
        </div>
        <div class="toolbar-item">
            <div class="btn btn-primary btn-sm add-btn">新增</div>
        </div>
        <div class="toolbar-item">
            <div class="input-group input-group-sm">
                <input type="text" name="keyword" class="form-control" value="@ViewBag.Keyword" placeholder="搜索...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </form>
</div>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>日文标签</th>
        <th>中文标签</th>
        <th>引用数</th>
        <th>权重</th>
        <th>操作</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @item.ID</td>
            <td><a href="/tag/detail/@item.ID">@item.PText</a></td>
            <td data-id="@item.ID">@item.MText</td>
            <td>@item.CitationCount</td>
            <td>@item.Weight</td>
            <td>
                <button class="btn btn-primary edit-btn btn-xs" data-id="@item.ID">编辑</button>
            </td>
        </tr>
    }
</table>

<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编辑标签</h4>
            </div>
            <div class="bg-warning text-warning" style="display:none;text-align:center;line-height:2.4;"></div>
            <div class="content">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section script{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.toolbar-item input[type="hidden"]').each(function () {
                var input = $(this);
                var val = input.val();

                var toolbarItem = input.parents('.toolbar-item');
                var btn = toolbarItem.find('.btn-group .btn[data-value="' + val + '"]');
                btn.removeClass('btn-default');
                btn.addClass('btn-primary');
            });

            $(document).on('click', '.toolbar-item .btn-group .btn-default', function () {
                var btn = $(this);
                var val = btn.data('value');

                var toolbarItem = btn.parents('.toolbar-item');
                var input = toolbarItem.find('input[type="hidden"]');

                input.val(val);

                var form = btn.parents('form').submit();
            });

            $('.edit-btn').click(function () {
                var t = $(this);
                var id = t.data('id');
                ShowModal('/tag/edit/' + id);
            })

            $('.add-btn').click(function () {
                ShowModal('/tag/add');
            });

            function ShowModal(url) {
                var modal = $('#modal');
                var content = modal.find('.content');
                var warning = modal.find('.bg-warning');

                content.hide();

                content.load(url, function () {
                    content.show();

                    var form = content.find('form');
                    form.submit(function () {
                        var action = form.attr('action');
                        var data = form.serialize();

                        $.post(action, data, function (result) {
                            if (result.Success == true) {
                                location.reload();
                            }
                            else {
                                warning.text(result.Message);
                                warning.show();
                            }
                        }, 'json');

                        return false;
                    });
                });

                modal.modal('show');

            }
        })
    </script>
}