@model List<mp.DAL.AdminPixivTag>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/dashboardMaster.cshtml";
    ViewBag.SubPage = "标签";
}
<h2>标签编辑</h2>

<div style="margin:10px auto;" class="clearfix">
    <div class="pull-left">
        <div class="btn btn-primary btn-sm add-btn">新增</div>
    </div>
    <div class="pull-right">
        <form action="/tag">
            <div class="input-group input-group-sm">
                <input type="text" name="keyword" class="form-control" value="@ViewBag.Keyword" placeholder="搜索...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>
    </div>
</div>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>日文标签</th>
        <th>中文标签</th>
        <th>操作</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.PText</td>
            <td data-id="@item.ID">@item.MText</td>
            <td>
                <button class="btn btn-primary edit-btn btn-xs" data-id="@item.ID">编辑</button>
            </td>
        </tr>
    }
</table>

<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编辑标签</h4>
            </div>
        <div class="bg-warning text-warning" style="display:none;text-align:center;line-height:2.4;"></div>
        <div class="loading">
            <div class="modal-body">
                <p>读取中......</p>
            </div>
        </div>
        <div class="content">
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section script{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.edit-btn').click(function () {
                var t = $(this);
                var id = t.data('id');
                ShowModal('/tag/edit/' + id);
            })

            $('.add-btn').click(function () {
                ShowModal('/tag/add');
            });

            function ShowModal(url)
            {
                var modal = $('#modal');
                var loading = modal.find('.loading');
                var content = modal.find('.content');
                var warning = modal.find('.bg-warning');

                loading.show();
                content.hide();

                content.load(url, function () {
                    loading.hide();
                    content.show();

                    var form = content.find('form');
                    form.submit(function () {
                        var action = form.attr('action');
                        var data = form.serialize();

                        $.post(action, data, function (result) {
                            if(result.Success==true)
                            {
                                location.reload();
                            }
                            else
                            {
                                warning.text(result.Message);
                                warning.show();
                            }
                        }, 'json');

                        return false;
                    });
                });

                modal.modal('show');

            }
        })
    </script>
}