@model IEnumerable<mp.Models.ImageInfo>

@foreach (var image in Model)
{
    <div class="waterfall-item fw236" data-id="@image.ID">
        <a href="/image/@image.ID" class="img">
            <img width="@image.ThumbFW236.Width" height="@image.ThumbFW236.Height" src="@image.ThumbFW236.Url" />
            <div class="cover"></div>
            <div class="actions clearfix">
                <div class="pull-left">
                    @if (Security.IsLogin == true)
                    {
                        if (Security.User.ID != image.UserID)
                        {
                            <div class="btn btn-primary btn-sm resave-btn" data-id="@image.ID">转存</div>
                        }
                    }
                    else
                    {
                        <div class="btn btn-primary btn-sm login-btn">转存</div>
                    }
                </div>
                <div class="pull-right">
                    @if (Security.IsLogin)
                    {
                        if (Security.User.ID != image.UserID)
                        {
                            <div class="btn btn-default btn-sm @(image.IsPraise?"cancel-praise-btn":"praise-btn")" data-id="@image.ID">
                                <span class="glyphicon glyphicon-heart"></span><span class="text">@(image.PraiseCount > 0 ? image.PraiseCount.ToString() : "")</span>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="btn btn-default btn-sm login">
                            <span class="glyphicon glyphicon-heart"></span>
                        </div>
                    }
                </div>
            </div>
        </a>
        <div class="description">@Html.MpDescription(image.Description)</div>
        <div class="info media">
            <div class="media-left">
                <a>
                    <img src="@image.User.Head" />
                </a>
            </div>
            <div class="media-body">
                <div class="line">
                    <a href="@image.User.HomePage">@image.User.Name</a>收集到
                </div>
                <div class="line"><a href="@image.Package.HomePage">@image.Package.Title</a></div>
            </div>
        </div>
    </div>
}
@if (Model.Count() != 0)
{
    <div class="waterfall-item more"></div>
}