@{
    Layout = "~/Views/Shared/BootstrapLayout.cshtml";
}

@section style{
    @System.Web.Optimization.Styles.Render("~/css/mp.css")
}

@section script{
    @System.Web.Optimization.Scripts.Render("~/js/mp.js")
    @RenderSection("script", false)
}
@RenderPage("~/Views/Shared/header.pc.cshtml")

@RenderBody()

<div id="modal" class="modal" data-backdrop="static">
    <div id="login-modal" class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">登录</h4>
            </div>
            <div class="bg-warning text-center text-warning"></div>
            <div class="modal-body">                
                <form>
                    <div class="form-group">
                        <input class="form-control" name="email" type="text" placeholder="邮箱" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="password" type="password" placeholder="密码" />
                    </div>
                    <div class="checkbox">
                        <label>
                            <input name="remember" type="checkbox" checked="checked"> 记住我
                        </label>
                    </div>
                    <button class="btn btn-primary btn-block">登录</button>
                </form>
                <div class="signup-btn btn btn-default btn-block">
                    注册
                </div>
            </div>
        </div>
    </div>

    <div id="message-modal" class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ok"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">消息</h4>
            </div>
            <div class="modal-body">
                <span class="msg"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary ok">确认</button>
            </div>
        </div>
    </div>

    <div id="signup-modal" class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">注册</h4>
            </div>
            <div class="bg-warning text-center text-warning"></div>
            <div class="modal-body">                
                <form>
                    <div class="form-group">
                        <input class="form-control" type="text" name="email" placeholder="登录邮箱" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="name" placeholder="昵称" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password1" placeholder="密码" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password2" placeholder="确认密码" />
                    </div>
                    <button class="btn btn-primary btn-block">注册</button>
                </form>
                <div class="login-btn btn btn-default btn-block">使用已有帐号登录</div>
            </div>
        </div>
    </div>

    <div id="image-modal" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">转存</h4>
            </div>
            <div class="modal-body loading">
                读取中...
            </div>
            <div class="content">
            </div>
        </div>
    </div>

    <div id="package-modal" class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">转存</h4>
            </div>
            <div class="modal-body loading">
                读取中...
            </div>
            <div class="content">
            </div>
        </div>
    </div>

</div>