@{
    Layout = "~/Views/Shared/BootstrapLayout.cshtml";
}

@section style{
    @System.Web.Optimization.Styles.Render("~/css/mp.css")
}

@section script{
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?13a775525a0bf1757731f56e85a82930";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    @System.Web.Optimization.Scripts.Render("~/js/mp.js")
    @RenderSection("script", false)
}
@RenderPage("~/Views/Shared/header.pc.cshtml")

@RenderBody()
<div id="modal" class="modal" data-backdrop="static">
    <div id="login-modal" class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">登录</h4>
            </div>
            <div class="bg-warning text-center text-warning"></div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input class="form-control" name="email" type="text" placeholder="邮箱" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="password" type="password" placeholder="密码" />
                    </div>
                    <div class="checkbox">
                        <label>
                            <input name="remember" type="checkbox" checked="checked" value="true"> 记住我
                        </label>
                        <a id="reset-password" href="javascript:;" style="display:block; float:right;margin-right:10px;">忘记密码»</a>
                    </div>
                    <button class="btn btn-primary btn-block">登录</button>
                </form>
                <div class="signup-btn btn btn-default btn-block">
                    注册
                </div>
            </div>
        </div>
    </div>

    <div id="reset-password-modal" class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">找回密码</h4>
            </div>
            <div class="bg-warning text-center text-warning"></div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" name="email" type="text" placeholder="请输入注册邮箱" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary ok">发送邮件</button>
                </div>
            </form>
        </div>
    </div>


    <div id="message-modal" class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ok"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">消息</h4>
            </div>
            <div class="modal-body">
                <span class="msg"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary ok">确认</button>
            </div>
        </div>
    </div>

    <div id="confirm-modal" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close cancel"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">消息</h4>
            </div>
            <div class="modal-body">
                <span class="msg"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary ok">确认</button>
                <button type="button" class="btn btn-default cancel">取消</button>
            </div>
        </div>

    </div>

    <div id="signup-modal" class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close cancel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">注册</h4>
            </div>
            <div class="bg-warning text-center text-warning"></div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input class="form-control" type="text" name="email" placeholder="登录邮箱" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="name" placeholder="昵称" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password1" placeholder="密码" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password2" placeholder="确认密码" />
                    </div>
                    <button class="btn btn-primary btn-block">注册</button>
                </form>
                <div class="login-btn btn btn-default btn-block">使用已有帐号登录</div>
            </div>
        </div>
    </div>

    <div id="image-modal" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close cancel" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">转存</h4>
            </div>
            <div class="modal-body loading">
                读取中...
            </div>
            <div class="content">
            </div>
        </div>
    </div>

    <div id="package-modal" class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close cancel" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">转存</h4>
            </div>
            <div class="modal-body loading">
                读取中...
            </div>
            <div class="content">
            </div>
        </div>
    </div>

    <div id="progress-modal" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">图片上传</h4>
            </div>
            <div class="modal-body">
                <div class="status">正在上传第<span class="current-index"></span>张/共<span class="total-index"></span>张</div>
                <div class="uploading">当前图片上传进度</div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active">loading..</div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

    <div id="avtCut-modal" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close cancel" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">头像设置</h4>
            </div>
            <div class="modal-body loading">
                上传中
            </div>
            <div class="content">
            </div>
        </div>
    </div>
</div>