@model IEnumerable<mp.BLL.PackageInfo>

@foreach (var packageInfo in Model)
{
    <div class="waterfall-item-236" data-id="@packageInfo.ID">
        <a class="img">
            <img width="236" height="236" src="@(packageInfo.Cover==null?"":packageInfo.Cover.ThumbSQ236.Url.ToString())" />
            <div class="cover"></div>
        </a>
        <a class="title" href="@packageInfo.HomePage" title="@packageInfo.Title">
            @packageInfo.Title
        </a>
        <div class="attr">
            <div class="line"><span>@packageInfo.ImageCount</span>张图片  <span>@packageInfo.FollowerCount</span>人关注</div>
            <div class="line">by<a href="@packageInfo.User.HomePage">@packageInfo.User.Name</a></div>
        </div>
    </div>
}
@if (Model.Count() != 0)
{
    <div class="waterfall-item-236 more"></div>
}