@{
    Layout = "~/Views/Shared/Layout.pc.cshtml";
    var imageInfo = ViewBag.ImageInfo as mp.Models.ImageInfo;
    var next = ViewBag.Next;
    var prev = ViewBag.Prev;

    ViewBag.Title = imageInfo.Description + "@" + imageInfo.User.Name + "收集到" + imageInfo.Package.Title + "_喵帕斯";
    ViewBag.Keywords = imageInfo.Description;
    ViewBag.Description = imageInfo.Description;
}

<div class="mp-image-container">
    <div class="clearfix">
        <div class="left">
            <div class="mp-panel panel">
                <div class="panel-body">
                    <div class="bar-top clearfix">
                        <div class="pull-left">
                            @if (Security.IsLogin)
                            {
                                <div class="btn btn-primary btn-sm resave-btn" data-id="@imageInfo.ID">转存</div>
                                if (imageInfo.IsPraise)
                                {
                                    <div class="btn btn-default btn-sm cancel-praise-btn" data-id="@imageInfo.ID">
                                        <span class="glyphicon glyphicon-heart"></span>
                                    </div>
                                }
                                else
                                {
                                    <div class="btn btn-default btn-sm praise-btn" data-id="@imageInfo.ID">
                                        <span class="glyphicon glyphicon-heart"></span>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="btn btn-primary btn-sm login-btn">转存</div>
                                <div class="btn btn-default btn-sm login-btn">
                                    <span class="glyphicon glyphicon-heart"></span>
                                </div>
                            }
                        </div>
                        <div class="pull-right">
                            @if (Security.IsLogin == true && imageInfo.UserID == Security.User.ID)
                            {
                                <div class="btn btn-default btn-sm image-edit-btn" data-id="@imageInfo.ID">编辑</div>
                                <div class="btn btn-danger btn-sm image-delete-btn" data-id="@imageInfo.ID">删除</div>
                            }
                        </div>
                    </div>
                    <div class="image">
                        <img src="@imageInfo.ThumbFW658.Url" width="@imageInfo.ThumbFW658.Width" height="@imageInfo.ThumbFW658.Height" />
                    </div>
                    <div class="bar-bottom"></div>
                </div>
            </div>
            <div class="mp-panel panel">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="@imageInfo.User.HomePage">
                                <img class="media-object" src="@imageInfo.User.Head" />
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="@imageInfo.User.HomePage" class="media-heading">@imageInfo.User.Name</a>
                            <div>收集于 @imageInfo.CreatedTime.ToString("yyyy年MM月dd日 hh:mm")</div>
                        </div>
                    </div>
                    <div class="description">@Html.MpDescription(imageInfo.Description)</div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="mp-panel panel">
                <div class="panel-body">
                    <div class="scroller">
                        <div class="waterfall-78">
                            @Html.Action("Images", "Package", new { packageId = imageInfo.PackageID, max = int.MaxValue, thumb = "fw78" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (prev != null)
    {
        <a href="/image/@prev" class="prev">
            <span class="glyphicon glyphicon-menu-left"></span>
        </a>
    }
    @if (next != null)
    {
        <a href="/image/@next" class="next">
            <span class="glyphicon glyphicon-menu-right"></span>
        </a>
    }
</div>
