@model mp.Models.ImageModalModel

<form action="@Request.Url" method="post">
    <div class="modal-body">
        <div class="bg-warning text-center text-warning"></div>
        @if (Model.FileID != 0)
        {
            <input type="hidden" name="fileid" value="@Model.FileID" />
        }
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-5 col">
                    <img src="@Model.ImagePath" />
                </div>
                <div class="col-xs-7 col">
                    <div class="form-group">
                        <label>图包</label>
                        <div class="row">
                            <div class="col-xs-9">
                                <div class="btn-group select">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="current"></span> <span class="inline-block pull-right"><span class="caret"></span></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        @foreach (var item in Model.PackageList)
                                        {
                                            <li><a data-value="@item.ID">@item.Title</a></li>
                                        }
                                    </ul>
                                    <input type="hidden" name="packageid" value="@Model.PackageID" />
                                </div>

                            </div>
                            <div class="col-xs-3 col">
                                <div class="btn btn-default pull-right package-create">添加</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>描述</label>
                        <textarea name="description" class="form-control" style="resize:none;">@Model.Description</textarea>
                        <span style="color:#888;font-size:13px;margin-left:30px;">可以在"#"中输入标签,例如#miaopass#</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">确定</button>
        <div class="btn btn-default cancel">取消</div>
    </div>
</form>